<!-- Header trang tạo bài chia sẻ kinh nghiệm -->
<app-header
  [pageTitle]="TranslateKeys.CREATE_EXPERIENCE_TITLE"
  [caption]="TranslateKeys.SHARE_EXPERIENCE_CAPTION"
  backgroundImageUrl="/assets/images/banner.svg"
  [animeImage]="animeImage">
</app-header>

<ion-content [fullscreen]="true" class="custom-page-bg-light">
  <div class="m-3 py-4 px-3 rounded-xl bg-gray-50 dark:bg-gray-800" *ngIf="experienceForm">
    <!-- Form tạo bài chia sẻ kinh nghiệm -->
    <form class="create-experience" *ngIf="experienceForm" [formGroup]="experienceForm" (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row>
          <!-- Trường nhập tiêu đề bài chia sẻ -->
          <ion-col size="12">
            <ion-label position="stacked">
              {{ TranslateKeys.CREATE_EXPERIENCE_NAME_LABEL | translate }} <span class="text-red-500">*</span>
            </ion-label>

            <ion-input formControlName="name" type="text" inputmode="text"></ion-input>

            <!-- Hiển thị lỗi validation cho tiêu đề -->
            <div *ngIf="experienceForm.get('name')?.invalid && experienceForm.get('name')?.touched"
                 class="text-red-500 text-sm mt-1 ml-4">
                <span *ngIf="experienceForm.get('name')?.errors?.['required']">
                  {{ TranslateKeys.VALIDATION_REQUIRED | translate }}
                </span>
              <span *ngIf="experienceForm.get('name')?.errors?.['minlength']">
                  {{ TranslateKeys.VALIDATION_MIN_LENGTH | translate: {min: 5} }}
                </span>
            </div>
          </ion-col>

          <!-- Trường chọn khía cạnh -->
          <ion-col size="12">
            <ion-label position="stacked">
              {{ TranslateKeys.CREATE_EXPERIENCE_AREA_LABEL | translate }} <span class="text-red-500">*</span>
            </ion-label>

            <ion-select formControlName="gender" class="border overflow-hidden" interface="action-sheet">
              <ion-select-option *ngFor="let area of areaOfExpertiseOptions" [value]="area.area">
                {{ area.title | translate }}
              </ion-select-option>
            </ion-select>

            <!-- Hiển thị lỗi validation cho tiêu đề -->
            <div
              *ngIf="experienceForm.get('area_of_expertise')?.invalid && experienceForm.get('area_of_expertise')?.touched"
              class="text-red-500 text-sm mt-1 ml-4">
              <span *ngIf="experienceForm.get('area_of_expertise')?.errors?.['required']">
                {{ TranslateKeys.VALIDATION_REQUIRED | translate }}
              </span>
            </div>
          </ion-col>

          <!-- Trường nhập nội dung kinh nghiệm -->
          <ion-col size="12">
            <ion-label position="stacked">
              {{ TranslateKeys.CREATE_EXPERIENCE_CONTENT_LABEL | translate }} <span class="text-red-500">*</span>
            </ion-label>

            <!-- Quill Editor cho viết nội dung rich text -->
            <quill-editor formControlName="experience_content"
                          placeholder="" class="rounded-xl" [style.height]="'200px'" format="html"
                          theme="snow"></quill-editor>
          </ion-col>

          <!-- Trường đính kèm file -->
          <ion-col size="12">
            <ion-label position="stacked">
              {{ TranslateKeys.CREATE_EXPERIENCE_ATTACHMENT_LABEL | translate }}
            </ion-label>
            <ion-button expand="block" fill="outline" color="medium" class="file-upload-button h-20">
              <div class="flex flex-col items-center space-y-1">
                <ion-icon name="attach-outline" class="text-2xl"></ion-icon>
                <span class="text-sm font-medium">
                  {{ TranslateKeys.CREATE_EXPERIENCE_ATTACHMENT_PLACEHOLDER | translate }}
                </span>
                <span class="text-xs opacity-70">
                  {{ TranslateKeys.CREATE_EXPERIENCE_ATTACHMENT_HINT | translate }}
                </span>
              </div>
            </ion-button>
          </ion-col>

          <ion-col class="ion-text-center">
            <ion-button class="m-auto w-1/2 submit-btn" type="submit">
              {{ TranslateKeys.BUTTON_SUBMIT | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
