<app-header
  [pageTitle]="TranslateKeys.TITLE_DAILY_EMOTION_JOURNAL"
  [caption]="TranslateKeys.HOME_WELCOME_SUBTITLE"
  backgroundColor="linear-gradient(to bottom, #9333ea, #4c1d95)"
  [animeImage]="animeImage"
>
</app-header>

<ion-content [fullscreen]="true" class=" custom-page-bg-light">
  <!-- Refresh data -->
  <ion-refresher slot="fixed" mode="md" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Loading indicator -->
  <div *ngIf="isLoading$ | async" class="flex justify-center items-center py-8">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
  </div>

  <!-- Main content -->
  <div class="px-4 py-2">
    <!-- Calendar view -->
    <div>
      <!-- Streak status -->
      <app-emotion-journal-streak
        class="mb-6 block">
      </app-emotion-journal-streak>

      <!-- Calendar -->
      <app-emotion-journal-calendar
        [journalEntries]="journalEntries$ || []"
        (dateSelected)="onDateSelected($event)"
        (monthChanged)="onMonthChanged($event)"
        class="mb-6 block">
      </app-emotion-journal-calendar>

    </div>
  </div>
</ion-content>
