ion-footer {
  --border-width: 0;

  ion-toolbar {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --border-width: 0;
  }

  ion-toolbar.ios-padding-button {
    padding-bottom: 1rem;
  }

  a {
    span {
      font-size: 0.6rem;
      line-height: 0.8rem;
    }
  }
}
