<ion-content class="ion-padding-top ion-padding-bottom">
  <!-- Loading skeleton -->
  <div *ngIf="isLoading" class="mt-3">
    <ion-skeleton-text animated class="w-full h-28 rounded-lg mb-3" *ngFor="let i of Array(10)"></ion-skeleton-text>
  </div>

  <!-- Search bar -->
  <ion-searchbar placeholder="{{TranslateKeys.TITLE_SEARCH_FRIENDS | translate}}" [debounce]="1000" (ionInput)="onSearchChange($event)"></ion-searchbar>
  <!-- Friend list -->
  <ion-list *ngIf="listFriends?.length">
    <ion-item *ngFor="let item of listFriends;">
      <ion-avatar class="my-3" slot="start">
        <ion-img [src]="CommonConstants.formatBase64ImageUrl(item.avatar_512 || '')"></ion-img>
      </ion-avatar>
      <ion-label class="pl-2">
        {{ item.nickname || '' }}
        <p class="italic text-gray-400 text-xs" *ngIf="item.classroom_id?.name">{{ item.classroom_id?.name }}</p>
      </ion-label>
      <ion-icon slot="end" name="person-add" class="p-1 text-xl text-sky-400" (click)="onClickSendRequest(item)"></ion-icon>
    </ion-item>
  </ion-list>

  <!-- Empty state -->
  <div *ngIf="isLoading === false && !listFriends?.length" class="flex flex-col items-center justify-center py-10">
    <ion-icon name="person" class="text-6xl text-gray-400 mb-4"></ion-icon>
    <p class="text-center text-gray-500">{{ TranslateKeys.TITLE_NO_RESULT_FOUND | translate }}</p>
  </div>

  <!-- Infinite scroll for pagination -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
